<%- include('./partials/header.ejs') %>
        <div class="container">
            
            <div class="pt-1 mb-2">
            <h4 class="mb-0 text-center">Action Genre: Free Guy (2021)
                <button class="btn btn-lg btn-success">
                <i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-lg btn-danger">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            </h4>
            </div>
            <!-- Used card model from bootstrap -->
            <div class="col d-flex justify-content-center">
            <div class="card mb-2">
                <img class="card-img-top" src="img/free-guy.jpg" alt="Free guy movie poster" style="object-fit: cover;" width="286" height="398">
                <div class="card-body">
                  <h5 class="card-title">Free Guy</h5>
                  <p class="card-text">A bank teller discovers that he's actually an NPC inside a brutal, open world video game.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Host: </strong> Sudhamsh Mondrati</li>
                  <li class="list-group-item"><strong>Date & Time: </strong> February 10, 2023</li>
                  <li class="list-group-item"><strong>Location: </strong> Woodward 106, UNC Charlotte</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Watch trailer</a>
                  <a href="#" class="card-link">Get directions</a>
                </div>
              </div>
            </div>

        </div>

<%- include('./partials/footer.ejs') %>